.heading{
    background-color: #364953;
    padding: 5px;
    margin: 20px;
}

.heading-txt{
    color: white;
    text-align: left;
    font-weight: 500;
    font-size: 24px;
}


.heading2{
    background-color: #364953;
    padding: 3px;
    margin: 20px;
}

.heading-txt2{
    color: white;
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
}


.border-margin{
    padding: 10px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(54,73,83,1) 100%);
}

.padding-top{
    padding-top: 20px;
    background-color: white;
    border-radius: 10px;
}

.align-flex{
    display: flex;
}